---
BasedOnStyle:     Google
Language:         Cpp
IndentWidth:      4
ColumnLimit:      80
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: -4
IndentCaseLabels: false
IndentCaseBlocks: true
AllowShortLambdasOnASingleLine: true
